.row-header {
  margin:0px auto;
  padding: 50px 0px 25px 0px;
  border-bottom: 1px ridge;
}

.row-content{
  min-height: 150px;
}

body{
  background: rgb(189,2,198);
  background: linear-gradient(90deg, rgba(189,2,198,1) 21%, rgba(196,0,255,1) 71%);
}
::-webkit-scrollbar{
  width: 7px !important;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background: black;
}

.footer{
  background-color: #512DA8;
  margin:0px auto;
  padding-top: 10px;
  position: absolute;
  color: white;
  bottom: -70px;
}


.navbar-dark {
  background-color: #512DA8;
}
.card{
  border-radius:15px !important;
}
.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.react-links{
  text-decoration: none;
  color: #00b1ee;
  font-size: 25px;
}
.react-links:hover{
  text-decoration: none;
  color: darkorchid;
}
